*.jar
*.class
/fhir-golang-generator.iws
/implementations/ember/base/app/
/implementations/csharp/Hl7.Fhir.Model/Generated/
/implementations/csharp/Hl7.Fhir.Model/Hl7.Fhir.Model.csproj
/implementations/csharp/Hl7.Fhir.Model/Properties/AssemblyInfo.cs
/implementations/go/base/app/
/implementations/java/org.hl7.fhir.convertors/bin/
/implementations/java/org.hl7.fhir.dstu2/bin/
/implementations/java/org.hl7.fhir.instance/
/implementations/java/org.hl7.fhir.utilities/bin/
/implementations/javascript/app/models/
/implementations/javascript/app/controllers/
/implementations/pascal/FHIRConstants.pas
/implementations/pascal/FHIRParser.pas
/implementations/pascal/FHIRResources.pas
/implementations/pascal/FHIRTypes.pas
/implementations/pascal/fhir.ini
/publish/
/qa/**/*.html
/schema/
/source/spelling/add.txt
/temp/
/tmp.json
/tools/java/org.hl7.fhir.instance/

/implementations/csharp/Hl7.Fhir.Model/Generated/
/implementations/csharp/Hl7.Fhir.Model/Hl7.Fhir.Model.csproj
/implementations/csharp/Hl7.Fhir.Model/Properties/AssemblyInfo.cs
/implementations/pascal/FHIRConstants.pas
/implementations/pascal/FHIRParser.pas
/implementations/pascal/FHIRResources.pas
/implementations/pascal/FHIRTypes.pas
/implementations/pascal/fhir.ini

/vscache/*.json
